<div class="row">
	<div class="col-3">
		@await Html.PartialAsync("AdminNav")
	</div>
	<div class="col-9">
		<div class="card">
			<h3 class="text-center">Добавление нового продукта</h3>
			<form method="post" class="card-body d-flex flex-column">
				<label>Название:</label>
				<input type="text" name="name" class="mb-2 w-100 form-control" />
				<label>Описание:</label>
				<input type="text" name="description" class="mb-2 w-100 form-control" />
				<label>Цена:</label>
				<input type="text" name="cost" class="mb-2 w-100 form-control" />

				<div class="justify-content-center align-items-center">
					<button type="submit" class="w-75 d-block" asp-controller="admin" asp-action="addProduct">Добавить продукт</button>
					<a href="/admin/products" class="text-secondary">Отменить изменения</a>
				</div>
			</form>
		</div>
	</div>
</div>