@model Login

<div class="row ">
	<div class="col-md-5 mx-auto">
		<div class="card">
			<h3 class="text-center">Вход</h3>
			<form method="post" class="card-body d-flex flex-column align-items-center">
				<div asp-validation-summary="All" class="text-danger"></div>
				<input type="hidden" name="returnUrl" value="@Model.ReturnUrl"/>

				<div class="mb-3 col-md-9">
					<label asp-for="Email">Почта:</label>
					<input class="form-control" asp-for="Email" />
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>

				<div class="mb-3 col-md-9">
					<label asp-for="Password">Пароль:</label>
					<input type="password" class="form-control" asp-for="Password" />
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>

				<div class="flex-row mb-3">
					<input type="checkbox" name="rememberme" class="form-check-input" value="true">
					<label>Запомнить меня</label>
				</div>

				<button type="submit" class="w-75" asp-controller="account" asp-action="login">Войти</button>
				<a asp-controller="Account" asp-action="Register" class="text-secondary">Регистрация нового пользователя</a>
			</form>
		</div>
	</div>
</div>
