@model List<ProductViewModel>

@if (Model == null)
{
	<h3>Вы пока не добавляли товары в избранное</h3>
}
else
{
	<h2>Избранное</h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Название</th>
				<th>Цена руб.</th>
				<th>Стоимость руб.</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var product in Model)
			{
				<tr>
					<td>@product.Name</td>
					<td>@product.Cost</td>
					<td>@product.Cost</td>
					<td>
						<a asp-area="" asp-controller="Favorite" asp-action="removeProduct" asp-route-productId="@product.Id" class="btn btn-outline-dark" role="button">-</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}