@model UserDeliveryInfo

<div class="row text-center">
	<div class="col">
		<h3>Оформление заказа</h3>
		<form method="post">
			<div class="mb-3 col-md-9">
				<label asp-for="Name">Ваше ФИО:</label>
				<input class="form-control" asp-for="Name" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>

			<div class="mb-3 col-md-9">
				<label asp-for="Address">Адрес доставки:</label>
				<input class="form-control" asp-for="Address" />
				<span asp-validation-for="Address" class="text-danger"></span>
			</div>

			<div class="mb-3 col-md-9">
				<label asp-for="Phone">Телефон:</label>
				<input class="form-control" asp-for="Phone" />
				<span asp-validation-for="Phone" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-success w-75" asp-controller="order" asp-action="buy">Оформить заказ</button>
		</form>
	</div>
</div>
