@model NewUserPassword

<div class="row">
	<div class="col-3">
		@await Html.PartialAsync("AdminNav")
	</div>
	<div class="col-9 card">
		<h3>Смена пароля</h3>
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="mb-3 col-md-9">
				<label asp-for="Password">Новый пароль:</label>
				<input asp-for="Password" type="password" id="password-input" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="mb-3 col-md-9">
				<label asp-for="ConfirmPassword">Подтвердите пароль:</label>
				<input asp-for="ConfirmPassword" type="password" id="confirm-password-input" class="form-control" />
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</div>
			<label><input type="checkbox" class="password-checkbox">Показать пароль</label>
			<div>
				<button type="submit" asp-area="Admin" asp-controller="User" asp-action="ChangePassword" class="btn btn-success">Сменить пароль</button>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	<script>
				$('body').on('click', '.password-checkbox', function(){
			if ($(this).is(':checked')){
				$('#password-input').attr('type', 'text');
				$('#confirm-password-input').attr('type', 'text');
			} else {
				$('#password-input').attr('type', 'password');
				$('#confirm-password-input').attr('type', 'password');
			}
		});
	</script>
}
