@model UserViewModel

<div class="row">
	<div class="col-3">
		@await Html.PartialAsync("AdminNav")
	</div>
	<div class="col-9 card">
		<h3>Реактирование пользователя</h3>
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="mb-3 col-md-9">
				<label asp-for="Name">Имя:</label>
				<input asp-for="Name" type="text" class="form-control" value="@Model.Name" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="mb-3 col-md-9">
				<label asp-for="Phone">Телефон:</label>
				<input asp-for="Phone" type="text" class="form-control" value="@Model.Phone" />
				<span asp-validation-for="Phone" class="text-danger"></span>
			</div>
			<input type="hidden" asp-for="Email" />
			<div class="bm-2">
				<button type="submit" class="btn btn-success" asp-area="Admin" asp-controller="User" asp-action="Edit">Принять изменения</button>
			</div>
			<a asp-area="Admin" asp-controller="User" asp-action="Details" asp-route-email="@Model.Email" class="text-secondary">Отмениить изменения</a>
		</form>
	</div>
</div>