@model EditRightsViewModel

<div class="row">
	<div class="col-3">
		@await Html.PartialAsync("AdminNav")
	</div>
	<div class="col-9 card">
		<h3>Управление правами доступа</h3>
		<form method="post">
			<div>
				@foreach (var role in Model.AllRoles)
				{
					<div>
						@if (Model.UserRoles.Contains(role))
						{
							<input type="checkbox" class="form-check-input" name="userRolesViewModel[@role.Name]" value="true" checked />
							<label class="form-check-label">@role.Name</label>
						}
						else
						{
							<input type="checkbox" class="form-check-input" name="userRolesViewModel[@role.Name]" value="true"/>
							<label class="form-check-label">@role.Name</label>
						}
					</div>
				}
			</div>
			<input type="hidden" name="email" value="@Model.Email" />
			<div>
				<button type="submit" asp-area="Admin" asp-controller="User" asp-action="EditRights" class="btn btn-success">Сохранить изменения</button>
			</div>
			<a asp-area="Admin" asp-controller="User" asp-action="Index" class="text-secondary">Отмена</a>
		</form>
	</div>
</div>
