@model List<Product>

@{
	ViewData["Title"] = "Home Page";
}


<div class="row">
	@foreach (var product in Model)
	{
		<div class="col-3 card shadow">
			<img class="card-img-top" src="@product.ImagePath">
			<div class="card-body">
				<a style="color:black" href="/product/index/@product.Id">
					<h5>@product.Name</h5>
				</a>
				<h5>@product.Cost</h5>
				<div class="row">
					<a class="btn btn-dark col-10" href="/cart/add?productId=@product.Id">Добавить в корзину</a>
					<a class="btn col-2" role="button" href="/wishlist/add?productId=@product.Id"><img src="~/images/favorite-white.png" /></a>
				</div>
			</div>
		</div>
	}
</div>


<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

