<div class="d-flex flex-column">
	<a asp-area="Admin" asp-controller="Order" asp-action="Index">Заказы</a>
	<a asp-area="Admin" asp-controller="User" asp-action="Index">Пользователи</a>
	<a asp-area="Admin" asp-controller="Role" asp-action="Index">Роли</a>
	<a asp-area="Admin" asp-controller="Product" asp-action="Index">Продукты</a>
</div>