<div class="list-group my-4">
	<a asp-area="Admin" asp-controller="Order" asp-action="Index" class="list-group-item list-group-item-action active list-group-item-danger" aria-current="true">
		Заказы
	</a>
	<a asp-area="Admin" asp-controller="User" asp-action="Index" class="list-group-item list-group-item-action">Пользователи</a>
	<a asp-area="Admin" asp-controller="Role" asp-action="Index" class="list-group-item list-group-item-action">Роли</a>
	<a asp-area="Admin" asp-controller="Product" asp-action="Index" class="list-group-item list-group-item-action">Продукты</a>
</div>


@section Scripts {
	<script>
        //Not WORK!!!
                   document.addEventListener('DOMContentLoaded', function() {
          const links = document.querySelectorAll('.list-group-item'); // Предполагаем, что ваши ссылки имеют класс "list-group-item"

          links.forEach(link => {
            link.addEventListener('click', function(event) {
              // Предотвращаем стандартное поведение ссылки (переход по адресу)
              event.preventDefault();

              // Удаляем класс и атрибут у всех ссылок
              links.forEach(otherLink => {
                otherLink.classList.remove('list-group-item-danger');
                otherLink.removeAttribute('aria-current');
              });

              // Добавляем класс и атрибут к выбранной ссылке
              this.classList.add('list-group-item-danger');
              this.setAttribute('aria-current', 'true');
            });
          });
        });


	</script>
}
