@model Register

<div class="row">
	<div class="col-md-5 mx-auto">
		<div class="card">
			<h3 class="text-center">Регистрация</h3>
			<form method="post" class="card-body d-flex flex-column align-items-center">
				<div class="text-danger" asp-validation-summary="All"></div>
				<input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />

				<div class="mb-3 col-md-9">
					<label asp-for="Name">Имя:</label>
					<input class="form-control" asp-for="Name" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				
				<div class="mb-3 col-md-9">
					<label asp-for="Surname">Фамилия:</label>
					<input class="form-control" asp-for="Surname" />
					<span asp-validation-for="Surname" class="text-danger"></span>
				</div>

				<div class="mb-3 col-md-9">
					<label asp-for="Phone">Телефон:</label>
					<input class="form-control" placeholder="+7" asp-for="Phone" />
					<span asp-validation-for="Phone" class="text-danger"></span>
				</div>

				<div class="mb-3 col-md-9">
					<label asp-for="Email">Почта:</label>
					<input class="form-control" asp-for="Email" />
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>

				<div class="mb-3 col-md-9">
					<label asp-for="Password">Пароль:</label>
					<input type="password" class="form-control" asp-for="Password" />
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>

				<div class="mb-3 col-md-9">
					<label asp-for="ConfirmPassword">Подтвердите пароль:</label>
					<input type="password" class="form-control" asp-for="ConfirmPassword" />
					<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
				</div>
				<button type="submit" class="w-75" asp-controller="account" asp-action="register">Зарегестрироваться</button>
				<a href="/account/login" class="text-secondary">Аккаунт уже есть</a>
			</form>
		</div>
	</div>
</div>

