@model AddProductViewModel


<div class="row">
	<div class="col-3">
		@await Html.PartialAsync("AdminNav")
	</div>
	<div class="col-9">
		<div class="card">
			<h3 class="text-center">Добавление нового продукта</h3>
			<form method="post" enctype="multipart/form-data" class="card-body">
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="mb-3">
					<label asp-for="Name">Название:</label>
					<input type="text" class="form-control" asp-for="Name" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label asp-for="Description">Описание:</label>
					<input type="text" class="form-control" asp-for="Description" />
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label asp-for="UploadedFiles">Изображение:</label>
					<input type="file" class="form-control" name="UploadedFiles" accept="image/*" multiple/>
				</div>

				<div class="mb-3">
					<label asp-for="Cost">Цена:</label>
					<input type="number" class="form-control" asp-for="Cost" />
					<span asp-validation-for="Cost" class="text-danger"></span>
				</div>

				<div class="mx-auto">
					<button type="submit" class="w-75 btn btn-secondary d-block" asp-area="Admin" asp-controller="Product" asp-action="Add">Добавить продукт</button>
					<a asp-area="Admin" asp-controller="Product" asp-action="Index" class="text-secondary">Отменить изменения</a>
				</div>
			</form>
		</div>
	</div>
</div>