<div class="list-group my-4">
	<a asp-area="" asp-controller="UserProfile" asp-action="Index" class="list-group-item list-group-item-action active list-group-item-danger" aria-current="true">
		Профиль
	</a>
	<a asp-area="" asp-controller="UserProfile" asp-action="Order" class="list-group-item list-group-item-action">Заказы</a>
	<a asp-area="" asp-controller="UserProfile" asp-action="#" class="list-group-item list-group-item-action">Уведомления</a>
	<a asp-area="" asp-controller="UserProfile" asp-action="Edit" class="list-group-item list-group-item-action">Редактирование профиля</a>
	<a asp-area="" asp-controller="Account" asp-action="Logout" class="list-group-item list-group-item-action">Выйти</a>
</div>
